# `Dealing with Categorical Columns ------------------------`

In [2]:
# CODE HERE
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
# CODE HERE
data = pd.read_csv('linear.csv')

In [4]:
data.dropna(axis = 0,how='any',inplace=True)  # delete row which contain null values

## `Remove outliers --------------------------------------------`
### Mileage

In [5]:
q1=np.percentile(data['Mileage'],25)
q3=np.percentile(data['Mileage'],75)
IQR=q3-q1
good_value=1.5 * IQR
lower_bound=q1-good_value
upper_bound=q3+good_value
print(f'Lower Bound:{lower_bound} and Upper Bound:{upper_bound}')
# CODE HERE
data = data[data['Mileage'] <= upper_bound]   # remove outliers
data.head(10)

Lower Bound:-120.0 and Upper Bound:440.0

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4
5,Mercedes-Benz,199999.0,crossover,0,5.5,Petrol,yes,2016,GLS 63
6,BMW,6100.0,sedan,438,2.0,Gas,yes,1997,320
7,Audi,14200.0,vagon,200,2.7,Diesel,yes,2006,A6
8,Renault,10799.0,vagon,193,1.5,Diesel,yes,2012,Megane
9,Volkswagen,1400.0,other,212,1.8,Gas,no,1999,Golf IV

### EngineV

In [6]:
# CODE HERE
q1=np.percentile(data['EngineV'],25)
q3=np.percentile(data['EngineV'],75)
IQR=q3-q1
good_value=1.5 * IQR
lower_bound=q1-good_value
upper_bound=q3+good_value
print(f'Lower Bound:{lower_bound} and Upper Bound:{upper_bound}')
# CODE HERE
data = data[data['EngineV'] <= upper_bound]   # remove outliers
data.head(10)

Lower Bound:2.220446049250313e-16 and Upper Bound:4.8

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.00,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.90,Diesel,yes,1999,Sprinter 212
3,Audi,23000.0,crossover,240,4.20,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.00,Petrol,yes,2011,Rav 4
6,BMW,6100.0,sedan,438,2.00,Gas,yes,1997,320
7,Audi,14200.0,vagon,200,2.70,Diesel,yes,2006,A6
8,Renault,10799.0,vagon,193,1.50,Diesel,yes,2012,Megane
9,Volkswagen,1400.0,other,212,1.80,Gas,no,1999,Golf IV
10,Renault,11950.0,vagon,177,1.50,Diesel,yes,2011,Megane
11,Renault,2500.0,sedan,260,1.79,Petrol,yes,1994,19

### Price

In [7]:
q1=np.percentile(data['Price'],25)
q3=np.percentile(data['Price'],75)
IQR=q3-q1
good_value=1.5 * IQR
lower_bound=q1-good_value
upper_bound=q3+good_value
print(f'Lower Bound:{lower_bound} and Upper Bound:{upper_bound}')
# CODE HERE
data = data[data['Price'] <= upper_bound]   # remove outliers
data

Lower Bound:-13825.0 and Upper Bound:41575.0

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4
6,BMW,6100.0,sedan,438,2.0,Gas,yes,1997,320
...,...,...,...,...,...,...,...,...,...
4338,Volkswagen,11500.0,van,163,2.5,Diesel,yes,2008,T5 (Transporter)
4339,Toyota,17900.0,sedan,35,1.6,Petrol,yes,2014,Corolla
4341,BMW,6500.0,sedan,1,3.5,Petrol,yes,1999,535
4342,BMW,8000.0,sedan,194,2.0,Petrol,yes,1985,520
4344,Volkswagen,13500.0,van,124,2.0,Diesel,yes,2013,T5 (Transporter)

## `Encoding ----------------------------------------------`
### `Label Encoding of Registration`

In [8]:
label_encoder = {"yes":1,"no":0}
data["Registration_encoded"] = data["Registration"].apply(lambda x: label_encoder[x] if x in label_encoder else 2)
data.sample(10)

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model,Registration_encoded
2567,Volkswagen,6500.0,sedan,190,1.9,Diesel,yes,2006,Caddy,1
2929,Mitsubishi,11500.0,sedan,72,2.4,Petrol,yes,2006,Lancer Evolution,1
1043,BMW,36400.0,crossover,80,3.0,Petrol,yes,2011,X5,1
3198,Mercedes-Benz,3800.0,crossover,250,3.2,Gas,no,1998,ML 320,0
60,BMW,8900.0,other,253,1.8,Petrol,yes,1995,318,1
106,Audi,39000.0,sedan,18,1.8,Other,yes,2015,A5,1
1840,Mercedes-Benz,28000.0,other,250,3.0,Diesel,yes,2008,GL 320,1
2242,Volkswagen,6800.0,vagon,160,2.8,Petrol,yes,2001,Sharan,1
3693,Toyota,30950.0,other,45,4.6,Petrol,yes,2013,Tundra,1
1284,Toyota,20000.0,van,135,2.4,Gas,yes,2006,Previa,1

### `One hot encoding of Body and EngineType`

In [9]:
# Using get_dummies method in pandas
df_ohe = data.copy()
one_hot_1 = pd.get_dummies(df_ohe,prefix = 'Engine' ,columns=['Engine Type'],drop_first=False)
one_hot_1.insert(loc=2, column='Engine Type', value=data['Engine Type'].values)
one_hot_1
# Using get_dummies method in pandas
df_ohe = one_hot_1.copy()
one_hot_1 = pd.get_dummies(df_ohe,prefix = 'Body' ,columns=['Body'],drop_first=False)
one_hot_1.insert(loc=2, column='Body', value=data['Body'].values)
one_hot_1

,Brand,Price,Body,Engine Type,Mileage,EngineV,Registration,Year,Model,Registration_encoded,Engine_Diesel,Engine_Gas,Engine_Other,Engine_Petrol,Body_crossover,Body_hatch,Body_other,Body_sedan,Body_vagon,Body_van
0,BMW,4200.0,sedan,Petrol,277,2.0,yes,1991,320,1,0,0,0,1,0,0,0,1,0,0
1,Mercedes-Benz,7900.0,van,Diesel,427,2.9,yes,1999,Sprinter 212,1,1,0,0,0,0,0,0,0,0,1
3,Audi,23000.0,crossover,Petrol,240,4.2,yes,2007,Q7,1,0,0,0,1,1,0,0,0,0,0
4,Toyota,18300.0,crossover,Petrol,120,2.0,yes,2011,Rav 4,1,0,0,0,1,1,0,0,0,0,0
6,BMW,6100.0,sedan,Gas,438,2.0,yes,1997,320,1,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4338,Volkswagen,11500.0,van,Diesel,163,2.5,yes,2008,T5 (Transporter),1,1,0,0,0,0,0,0,0,0,1
4339,Toyota,17900.0,sedan,Petrol,35,1.6,yes,2014,Corolla,1,0,0,0,1,0,0,0,1,0,0
4341,BMW,6500.0,sedan,Petrol,1,3.5,yes,1999,535,1,0,0,0,1,0,0,0,1,0,0
4342,BMW,8000.0,sedan,Petrol,194,2.0,yes,1985,520,1,0,0,0,1,0,0,0,1,0,0
4344,Volkswagen,13500.0,van,Diesel,124,2.0,yes,2013,T5 (Transporter),1,1,0,0,0,0,0,0,0,0,1

In [10]:
one_hot_1.columns

Index(['Brand', 'Price', 'Body', 'Engine Type', 'Mileage', 'EngineV',
       'Registration', 'Year', 'Model', 'Registration_encoded',
       'Engine_Diesel', 'Engine_Gas', 'Engine_Other', 'Engine_Petrol',
       'Body_crossover', 'Body_hatch', 'Body_other', 'Body_sedan',
       'Body_vagon', 'Body_van'],
      dtype='object')

In [19]:
X = one_hot_1[['Body_crossover', 'Body_hatch', 'Body_other', 'Body_sedan',
       'Body_vagon','Engine_Diesel', 'Engine_Gas', 'Engine_Other','Registration_encoded','Mileage','EngineV','Year']]
y = one_hot_1['Price']

### Checking VIF and p-values

In [18]:
from statsmodels.stats.outliers_influence import variance_inflation_factor   # vif
vif = pd.DataFrame()
vif['Features'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif['VIF'] = round(vif['VIF'], 2)
vif = vif.sort_values(by = "VIF", ascending = False)
vif

                Features    VIF
11                  Year  40.38
10               EngineV  15.75
8   Registration_encoded  11.05
9                Mileage   5.59
3             Body_sedan   4.45
5          Engine_Diesel   3.16
0         Body_crossover   2.85
4             Body_vagon   1.73
1             Body_hatch   1.72
2             Body_other   1.70
6             Engine_Gas   1.55
7           Engine_Other   1.09

In [20]:
import statsmodels.api as sm
X = sm.add_constant(X)
ols_model = sm.OLS(y,X)
ols_model = ols_model.fit()
ols_model.pvalues

const                   3.860414e-212
Body_crossover           7.514321e-74
Body_hatch               1.897753e-08
Body_other               6.537609e-24
Body_sedan               1.203195e-36
Body_vagon               1.629874e-12
Engine_Diesel            9.199367e-06
Engine_Gas               5.386275e-11
Engine_Other             7.623217e-01
Registration_encoded     2.328648e-74
Mileage                  3.526792e-37
EngineV                 1.571798e-142
Year                    1.016819e-212
dtype: float64